
@media only screen and (min-width: 700px) {
    

#frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

#myLocation{
		grid-column: 1/2; grid-row: 1;
	
}

#weatherInfo{
		grid-column: 2/3; grid-row: 1;
}

#hankiepankie{
		grid-column: 1/3; grid-row: 2;
	
}
}